@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
  --color-primary: #662c91;
  --color-secondary: #8bc53e;
  --color-accent: gray;

  /* Base */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.01 95);
  --color-base-300: oklch(92% 0.015 95);

  /* Neutral */
  --color-neutral: oklch(35% 0.01 260);
  --color-neutral-content: oklch(96% 0 0);

  /* Feedback */
  --color-success: oklch(70% 0.17 145);
  --color-error: oklch(62% 0.24 28);
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-serif: "DM_Serif_Display", serif;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-serif {
  font-family: var(--font-serif);
}
body {
  font-family: var(--font-poppins);
}
.nav-link {
  @apply text-[#5e9c0c] hover:text-[#662c91] transition font-medium;
}
